# Database
DATABASE_URL="mysql://username:password@localhost:3306/scholarsphere"

# JWT Secret (generate a secure random string)
NEXT_PUBLIC_JWT_SECRET="170055510m"

# Next.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="170055510m"

# Environment
NODE_ENV="development" 